<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li class="active"><a href="/">Home</a></li>
    <li class="active"><a href="/#Open Banking - Accounts">Read / Write Accounts</a></li>
    <li class="active"><a href="/#Open Banking - Payments">Read / Write Payments</a></li>
    <li class="active"><a href="/#Public Data - ATMs">Public Data - ATMs</a></li>
    <li class="active"><a href="/#Public Data - Branches">Public Branches - ATMs</a></li>
    <li class="active"><a href="/#Public Data - Personal Accounts">Public Data - Personal Accounts</a></li>
    <li class="active"><a href="/#Public Data - Business Accounts">Public Data - Business Accounts</a></li>
    <li class="active"><a href="/#Public Data - Unsecured SME Loans">Public Data - SME Unsecured Loans</a></li>
    <li class="active"><a href="/#Public Data - Commercial Credit Cards">Public Data - Commercial Credit Cards</a></li>
    <li class="active"><a href="https://github.com/{{ site.github_org }}/{{ site.github_repo }}" target="_blank">Github</a></li>
  </ul>
</nav>


<li class="active"><a href="/#Open Banking - Accounts">Read / Write Accounts</a></li>
<li class="active"><a href="/#Open Banking - Payments">Read / Write Payments</a></li>
<li class="active"><a href="/#Public Data - ATMs">Public Data - ATMs</a></li>
<li class="active"><a href="/#Public Data - Branches">Public Branches - ATMs</a></li>
<li class="active"><a href="/#Public Data - Personal Accounts">Public Data - Personal Accounts</a></li>
<li class="active"><a href="/#Public Data - Business Accounts">Public Data - Business Accounts</a></li>
<li class="active"><a href="/#Public Data - Unsecured SME Loans">Public Data - SME Unsecured Loans</a></li>
<li class="active"><a href="/#Public Data - Commercial Credit Cards">Public Data - Commercial Credit Cards</a></li>
