<section>
  <header class="major">
    <h2>API Evangelist Partners</h2>
  </header>
  <div class="mini-posts">
    <article style="display: inline;">
      <a href="https://www.getpostman.com/" class="image"><img src="https://apievangelist.com/images/postman-logo.png" alt="" width="50%" style="padding: 15px; border: 1px solid #000;" /></a>
    </article>
    <article style="display: inline;">
      <a href="https://tyk.io/" class="image"><img src="https://apievangelist.com/images/tyk-logo.png" alt="" width="50%" style="padding: 15px; border: 1px solid #000;" /></a>
    </article>
  </div>
</section>
